.gridProjects {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
}

.grid {
  margin-top: 1em;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}


.gridItemSingle {
  width: 100%;
  margin-bottom: 5em;
  -webkit-transition: -webkit-transform, color .4s ease;
  transition: -webkit-transform, color .4s ease;
  transition: transform, color .4s ease;
  transition: transform, color .4s ease, -webkit-transform .4s ease;
  color: var(--color-light0);
  text-decoration: none;
}

.gridItemSingle:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  color: var(--color-dark0);
}

.gridItemCover {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.gridItemTitle {
  margin: 16px 0 8px 0;
  opacity: .5;
}


/**
.gridItem-1 { grid-area: 1 / 1 / 2 / 2; }
.gridItem-2 { grid-area: 2 / 1 / 3 / 2; }
.gridItem-3 { grid-area: 3 / 1 / 4 / 2; }
.gridItem-4 { grid-area: 4 / 1 / 5 / 2; }

.gridItemCover {
  vertical-align: middle;
  max-width: 100%;
  min-height: 500px;
}
**/

@media screen and (min-width: 1440px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}