:root {
  --color-accent: #367BF5;
  --color-dark0: #19191D;
  --color-dark1: #1D1D21;
  --color-dark2: #28282E;
  --color-dark3: #303238;
  --color-light0: #FFF;
  --color-light1: #F5F5F5;
  --color-light2: #E9E9E9;
  --color-light3: #888a8d;
}
